USE [master]
GO
/****** Object:  Database [HR]    Script Date: 6/25/2021 10:21:18 PM ******/
CREATE DATABASE [HR]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HR', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\HR.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HR_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\HR_log.ldf' , SIZE = 8512KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HR].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HR]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 6/25/2021 10:21:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Benefit_Plans]    Script Date: 6/25/2021 10:21:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Benefit_Plans](
	[Benefit_Plan_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Plan_Name] [nvarchar](50) NULL,
	[Deductable] [numeric](18, 0) NULL,
	[Percentage_CoPay] [int] NULL,
 CONSTRAINT [PK_dbo.Benefit_Plans] PRIMARY KEY CLUSTERED 
(
	[Benefit_Plan_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[departments]    Script Date: 6/25/2021 10:21:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[departments](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](45) NOT NULL,
	[Address] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Emergency_Contacts]    Script Date: 6/25/2021 10:21:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Emergency_Contacts](
	[Employee_ID] [numeric](18, 0) NOT NULL,
	[Emergency_Contact_Name] [nvarchar](50) NULL,
	[Phone_Number] [nvarchar](50) NULL,
	[Relationship] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.Emergency_Contacts] PRIMARY KEY CLUSTERED 
(
	[Employee_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employment]    Script Date: 6/25/2021 10:21:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employment](
	[Employee_ID] [numeric](18, 0) NOT NULL,
	[Employment_Status] [nvarchar](50) NULL,
	[Hire_Date] [datetime] NULL,
	[Workers_Comp_Code] [nvarchar](50) NULL,
	[Termination_Date] [datetime] NULL,
	[Rehire_Date] [datetime] NULL,
	[Last_Review_Date] [datetime] NULL,
 CONSTRAINT [PK_dbo.Employment] PRIMARY KEY CLUSTERED 
(
	[Employee_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Job_History]    Script Date: 6/25/2021 10:21:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Job_History](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Employee_ID] [numeric](18, 0) NOT NULL,
	[Department] [nvarchar](50) NULL,
	[Division] [nvarchar](50) NULL,
	[Start_Date] [datetime] NULL,
	[End_Date] [datetime] NULL,
	[Job_Title] [nvarchar](50) NULL,
	[Supervisor] [numeric](18, 0) NULL,
	[Job_Category] [nvarchar](50) NULL,
	[Location] [nvarchar](50) NULL,
	[Departmen_Code] [numeric](18, 0) NULL,
	[Salary_Type] [numeric](18, 0) NULL,
	[Pay_Period] [nvarchar](50) NULL,
	[Hours_per_Week] [numeric](18, 0) NULL,
	[Hazardous_Training] [bit] NULL,
 CONSTRAINT [PK_dbo.Job_History] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personal]    Script Date: 6/25/2021 10:21:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personal](
	[Employee_ID] [numeric](18, 0) NOT NULL,
	[First_Name] [nvarchar](50) NULL,
	[Last_Name] [nvarchar](50) NULL,
	[Middle_Initial] [nvarchar](50) NULL,
	[Address1] [nvarchar](50) NULL,
	[Address2] [nvarchar](50) NULL,
	[City] [nvarchar](50) NULL,
	[State] [nvarchar](50) NULL,
	[Zip] [numeric](18, 0) NULL,
	[Email] [nvarchar](50) NULL,
	[Phone_Number] [nvarchar](50) NULL,
	[Social_Security_Number] [nvarchar](50) NULL,
	[Drivers_License] [nvarchar](50) NULL,
	[Marital_Status] [nvarchar](50) NULL,
	[Gender] [bit] NULL,
	[Shareholder_Status] [bit] NOT NULL,
	[Benefit_Plans] [numeric](18, 0) NULL,
	[Ethnicity] [nvarchar](50) NULL,
	[Benefits] [int] NULL,
	[Benefits_old] [int] NULL,
	[Birthday] [date] NULL,
 CONSTRAINT [PK_dbo.Personal] PRIMARY KEY CLUSTERED 
(
	[Employee_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[departments] ON 

INSERT [dbo].[departments] ([id], [Name], [Address]) VALUES (1, N'Vicenta Schuster', N'749 Rusty Inlet Apt. 884
Roxannefort, ID 53473')
INSERT [dbo].[departments] ([id], [Name], [Address]) VALUES (2, N'Ozella Bradtke IV', N'124 Spencer Inlet
New Torey, OK 33791')
INSERT [dbo].[departments] ([id], [Name], [Address]) VALUES (3, N'Prof. Malcolm McGlynn', N'2957 Predovic Groves Suite 984
Ronnyshire, NM 84227')
SET IDENTITY_INSERT [dbo].[departments] OFF
GO
INSERT [dbo].[Employment] ([Employee_ID], [Employment_Status], [Hire_Date], [Workers_Comp_Code], [Termination_Date], [Rehire_Date], [Last_Review_Date]) VALUES (CAST(6 AS Numeric(18, 0)), NULL, CAST(N'2012-11-06T00:55:08.000' AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[Employment] ([Employee_ID], [Employment_Status], [Hire_Date], [Workers_Comp_Code], [Termination_Date], [Rehire_Date], [Last_Review_Date]) VALUES (CAST(15 AS Numeric(18, 0)), NULL, CAST(N'2016-07-26T03:03:32.000' AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[Employment] ([Employee_ID], [Employment_Status], [Hire_Date], [Workers_Comp_Code], [Termination_Date], [Rehire_Date], [Last_Review_Date]) VALUES (CAST(25 AS Numeric(18, 0)), NULL, CAST(N'2012-02-26T05:19:58.000' AS DateTime), NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[Personal] ([Employee_ID], [First_Name], [Last_Name], [Middle_Initial], [Address1], [Address2], [City], [State], [Zip], [Email], [Phone_Number], [Social_Security_Number], [Drivers_License], [Marital_Status], [Gender], [Shareholder_Status], [Benefit_Plans], [Ethnicity], [Benefits], [Benefits_old], [Birthday]) VALUES (CAST(15 AS Numeric(18, 0)), N'Dannie', N'Zieme', NULL, N'975 Kautzer Bridge', NULL, N'West Bradly', N'Kansas', CAST(10000 AS Numeric(18, 0)), N'feeney.lexus@hotmail.com', N'+12838369465', NULL, NULL, NULL, 0, 1, NULL, N'et sequi', 1499, 0, CAST(N'1951-04-18' AS Date))
GO
/****** Object:  Index [IX_Employee_ID]    Script Date: 6/25/2021 10:21:19 PM ******/
CREATE NONCLUSTERED INDEX [IX_Employee_ID] ON [dbo].[Emergency_Contacts]
(
	[Employee_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Employee_ID]    Script Date: 6/25/2021 10:21:19 PM ******/
CREATE NONCLUSTERED INDEX [IX_Employee_ID] ON [dbo].[Employment]
(
	[Employee_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Employee_ID]    Script Date: 6/25/2021 10:21:19 PM ******/
CREATE NONCLUSTERED INDEX [IX_Employee_ID] ON [dbo].[Job_History]
(
	[Employee_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Benefit_Plans]    Script Date: 6/25/2021 10:21:19 PM ******/
CREATE NONCLUSTERED INDEX [IX_Benefit_Plans] ON [dbo].[Personal]
(
	[Benefit_Plans] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Personal] ADD  DEFAULT ('0') FOR [Benefits]
GO
ALTER TABLE [dbo].[Personal] ADD  DEFAULT ('0') FOR [Benefits_old]
GO
ALTER TABLE [dbo].[Emergency_Contacts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Emergency_Contacts_dbo.Personal_Employee_ID] FOREIGN KEY([Employee_ID])
REFERENCES [dbo].[Personal] ([Employee_ID])
GO
ALTER TABLE [dbo].[Emergency_Contacts] CHECK CONSTRAINT [FK_dbo.Emergency_Contacts_dbo.Personal_Employee_ID]
GO
ALTER TABLE [dbo].[Employment]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Employment_dbo.Personal_Employee_ID] FOREIGN KEY([Employee_ID])
REFERENCES [dbo].[Personal] ([Employee_ID])
GO
ALTER TABLE [dbo].[Employment] CHECK CONSTRAINT [FK_dbo.Employment_dbo.Personal_Employee_ID]
GO
ALTER TABLE [dbo].[Job_History]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Job_History_dbo.Personal_Employee_ID] FOREIGN KEY([Employee_ID])
REFERENCES [dbo].[Personal] ([Employee_ID])
GO
ALTER TABLE [dbo].[Job_History] CHECK CONSTRAINT [FK_dbo.Job_History_dbo.Personal_Employee_ID]
GO
ALTER TABLE [dbo].[Personal]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Personal_dbo.Benefit_Plans_Benefit_Plans] FOREIGN KEY([Benefit_Plans])
REFERENCES [dbo].[Benefit_Plans] ([Benefit_Plan_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Personal] CHECK CONSTRAINT [FK_dbo.Personal_dbo.Benefit_Plans_Benefit_Plans]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Personal', @level2type=N'COLUMN',@level2name=N'Benefits'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Personal', @level2type=N'COLUMN',@level2name=N'Benefits_old'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Personal', @level2type=N'COLUMN',@level2name=N'Birthday'
GO
USE [master]
GO
